@page "/clientes"
@using QueChulosPerros.Shared.Model
@inject HttpClient http
@inject NavigationManager navegar

<div class="container-fluid card">
    <div class="row">
        <div class="col-md-12 d-flex flex-column align-items-center justify-content-center h-100">
            <div class="container-fluid">
                <button class="btn btn-success mt-3 mb-3 w-100 login enter" @onclick="AgregarTrabajador">Agregar Cliente</button>
            </div>
            <div class="card">
                @if (Clientes == null)
                {
                    <h3 class="text-primary">Cargando...</h3>
                }
                else if (Clientes.Count == 0)
                {
                    <h3 class="text-warning">No hay Clientes</h3>
                }
                else
                {
                    <div class="table-responsive col-md-12">
                        <table class="table table-bordered table-hover">
                            <thead class="bg-primary text-white">
                                <tr class="w-100">
                                    <th class="login">Id</th>
                                    <th class="login">Nombre</th>
                                    <th class="login">Telefono</th>
                                    <th class="login">Genero</th>
                                    <th class="login">Correo</th>
                                    <th class="login">Localidad</th>
                                    <th class="login">Calle</th>
                                    <th class="login">Colonia</th>
                                    <th class="login">Actualizar</th>
                                    <th class="login">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var c in Clientes)
                                {
                                    <tr @onclick="(() => ToggleMascotas(c.Id))">
                                        <td class="login">@c.Id</td>
                                        <td class="login">@c.Name</td>
                                        <td class="login">@c.Phone</td>
                                        <td class="login">@c.Gender</td>
                                        <td class="login">@c.Email</td>
                                        <td class="login">@c.Branch</td>
                                        <td class="login">@c.Street</td>
                                        <td class="login">@c.Neighborhood</td>
                                        <td><button class="btn btn-outline-primary" @onclick="(() => Editar(c.Id))"><span class="oi oi-list"/><br />Actualizar </button></td>
                                        <td><button class="btn btn-outline-danger" @onclick="(() => Eliminar(c))"><span class="oi oi-trash"/><br />Eliminar</button></td>
                                    </tr>
                                    @if (MascotasCliente != null && MascotasCliente.Any(mc => mc.ClientId == c.Id) && ClientesConMascotasVisibles.ContainsKey(c.Id) && ClientesConMascotasVisibles[c.Id])
                                    {
                                        <tr>
                                            <td colspan="10">
                                                <div>
                                                    <h2>Mascotas del Cliente Seleccionado:</h2>
                                                    <table class="table table-bordered table-hover">
                                                        <thead class="bg-info text-white">
                                                            <tr>
                                                                <th>Id</th>
                                                                <th>Nombre</th>
                                                                <th>Genero</th>
                                                                <th>Especie</th>
                                                                <th>Raza</th>
                                                                <th>Estado</th>
                                                                <th>Actualizar</th>
                                                                <th>Eliminar</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var mascota in MascotasCliente.Where(mc => mc.ClientId == c.Id))
                                                            {
                                                                <tr>
                                                                    <td>@mascota.Id</td>
                                                                    <td>@mascota.Name</td>
                                                                    <td>@mascota.Gender</td>
                                                                    <td>@mascota.Specie</td>
                                                                    <td>@mascota.Breed</td>
                                                                    @if(@mascota.Alive == true){
                                                                        <td>
                                                                            Vivo
                                                                        </td>
                                                                    }else
                                                                    {
                                                                        <td>
                                                                            Fallecido
                                                                        </td>
                                                                    }
                                                                    <td><button class="btn btn-outline-primary" @onclick="(() => EditarM(mascota.Id))"><span class="oi oi-list"/><br />Actualizar </button></td>
                                                                    <td><button class="btn btn-outline-danger" @onclick="(() => EliminarM(mascota))"><span class="oi oi-trash"/><br />Eliminar</button></td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private List<Cliente> Clientes;
    private List<Mascota> MascotasCliente;
    private Dictionary<int, bool> ClientesConMascotasVisibles = new Dictionary<int, bool>();

    protected override async Task OnInitializedAsync()
    {
        Clientes = await http.GetFromJsonAsync<List<Cliente>>("api/Clientes");
    }

    public async Task Eliminar(Cliente client)
    {
        await http.DeleteAsync($"api/Clientes/{client.Id}");
        Clientes.Remove(client);
    }

    private void Editar(int Id)
    {
        // Implementa la lógica para la edición si es necesario
    }

    public async Task EliminarM(Mascota pet)
    {
        await http.DeleteAsync($"api/Mascotas/{pet.Id}");
        Mascotas.Remove(pet);
    }

    private void EditarM(int Id)
    {
        // Implementa la lógica para la edición si es necesario
    }

    private void AgregarTrabajador()
    {
        // Implementa la lógica para agregar un cliente si es necesario
    }

    private async Task ToggleMascotas(int clienteId)
    {
        if (ClientesConMascotasVisibles.ContainsKey(clienteId))
        {
            ClientesConMascotasVisibles[clienteId] = !ClientesConMascotasVisibles[clienteId];
        }
        else
        {
            ClientesConMascotasVisibles[clienteId] = true;
        }

        if (ClientesConMascotasVisibles[clienteId])
        {
            // Obtén las mascotas vinculadas al cliente seleccionado
            MascotasCliente = await http.GetFromJsonAsync<List<Mascota>>($"api/Mascotas/ByClienteId/{clienteId}");
        }
        else
        {
            MascotasCliente = null;
        }

        StateHasChanged(); // Actualiza la interfaz de usuario para reflejar los cambios
    }
}
